<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" verbose="true" >
    <testsuites>
        <testsuite name="wp-test">
            <directory prefix="test-" suffix=".php">
                ./tests/
            </directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="true" />
        <env name="running_test" value="1"/>
    </php>
</phpunit>
